.sort {
  display: flex;
  align-items: center;
  max-width: 330px;
  border-right: 2px solid var(--light-gray);
}

.sort.active > .sort__item {
  opacity: 1;
  visibility: visible;
}

.sort > a {
  display: flex;
  align-items: flex-start;
  padding: 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--dark-gray);
  transition: all 0.3s linear;
}

.sort > a:not(:last-child) {
  margin-bottom: 8px;
}

.sort button svg {
  fill: #909cb5;
}

.sort__item {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 10%;
  left: 30%;
}

.sort__item div {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 22px;
  padding-left: 60px;
  transition: all 0.3s linear;
}

.sort__item a {
  flex: 0 1 30.333%;
  width: 290px;
  display: flex;
  align-items: center;
  gap: 18px;
  transition: all 0.3s linear;
}

.sort__item a img {
  border-radius: 6px;
  max-width: 90px;
  max-height: 90px;
}

.sort__item a span {
  font-size: 16px;
  line-height: 150%;
  color: #000;
}

.sort:hover > .sort__item {
  opacity: 1;
  visibility: visible;
}

@media (any-hover: hover) {
  .sort:hover {
    background: var(--light-gray);
  }

  .sort:hover > a > div {
    animation: arrow 0.8s linear infinite;
  }

  .sort__item a:hover {
    transform: scale(1.02);
  }
}

@media (max-width: 999.98px) {
  .sort {
    max-width: 100%;
    border-right: none;
    background: rgba(56, 66, 85, 0.5);
  }

  .sort > a {
    flex: 0 1 100%;
    color: #fff;
    justify-content: space-between;
  }

  .sort a div {
    margin: 8px;
  }

  .sort__item {
    background: rgba(56, 66, 85, 0.5);
    top: 8px;
    left: 0;
  }

  .sort__item div {
    background: rgba(26, 26, 37, 0.5);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px 20px;
  }
}

@keyframes arrow {
  0% {
    left: 0;
  }
  50% {
    left: 5px;
  }
  100% {
    left: 0;
  }
}
